*{
  margin: 0;
  padding: 0;
}
/* 1.文本垂直居中 */
.text{
  width: 200px;
  height: 200px;
  background: skyblue;

  /* 设置下面俩个代码 */
  text-align: center;
  line-height: 200px;
  
}


/*6. table-cell 不需要盒子本身宽高*/
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
  width: 500px;
  height: 500px;
  background: pink;
  
}
.table-cell div{
  width: 200px;
  height: 200px;
  background:skyblue;
  display: inline-block;

}