body {
  margin: 0;
}
.blue, .red-inner {
  height: 50px;
  margin: 10px 0;
}

.blue {
  background: blue;
}

.red-inner {
  background-color: aqua;
}

.red-outer {
  overflow: hidden;
  background: red;
}


* {
  margin: 0;
  padding: 0;
}
#parent {
  width: 200px;
  height: 200px;
  background-color: green;
  margin-top: 20px;
}
#child {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 30px;
}
